asgiref==3.3.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cryptography==3.4.6
defusedxml==0.7.1
Django==3.0.5
django-allauth==0.44.0
django-cors-headers==3.7.0
django-filter==2.4.0
django-otp==1.0.5
django-rest-auth==0.9.5
djangorestframework==3.12.2
djangorestframework-jwt==1.11.0
djongo==1.3.4
dnspython==2.1.0
idna==2.10
install==1.3.4
joblib==1.0.1
loguru==0.5.3
lxml==4.6.3
nltk==3.6.2
numpy==1.20.3
oauthlib==3.1.0
pycparser==2.20
PyExecJS==1.5.1
PyJWT==1.7.1
pymongo==3.11.3
python3-openid==3.2.0
pytz==2021.1
qrcode==6.1
regex==2021.4.4
requests==2.25.1
requests-oauthlib==1.3.0
six==1.15.0
sqlparse==0.2.4
tqdm==4.60.0
translators==4.7.16
urllib3==1.26.4
whitenoise==5.2.0
win32-setctime==1.0.3
asgiref==3.3.1
attrs==21.2.0
base58==2.1.0
bitarray==1.2.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cryptography==3.4.6
cytoolz==0.11.0
defusedxml==0.7.1
Django==3.0.5
django-allauth==0.44.0
django-cors-headers==3.7.0
django-filter==2.4.0
django-otp==1.0.5
django-rest-auth==0.9.5
djangorestframework==3.12.2
djangorestframework-jwt==1.11.0
djongo==1.3.4
dnspython==2.1.0
eth-abi==2.1.1
eth-account==0.5.4
eth-hash==0.3.1
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-typing==2.2.2
eth-utils==1.10.0
hexbytes==0.2.1
idna==2.10
importlib-metadata==4.0.1
install==1.3.4
ipfshttpclient==0.7.0a1
joblib==1.0.1
jsonschema==3.2.0
loguru==0.5.3
lru-dict==1.1.7
lxml==4.6.3
multiaddr==0.0.9
netaddr==0.8.0
nltk==3.6.2
oauthlib==3.1.0
parsimonious==0.8.1
protobuf==3.17.0
pycparser==2.20
pycryptodome==3.10.1
PyExecJS==1.5.1
PyJWT==1.7.1
pymongo==3.11.3
pyrsistent==0.17.3
python3-openid==3.2.0
pytz==2021.1
pywin32==300
qrcode==6.1
regex==2021.4.4
requests==2.25.1
requests-oauthlib==1.3.0
rlp==2.0.1
six==1.15.0
sqlparse==0.2.4
toolz==0.11.1
tqdm==4.60.0
translators==4.7.16
typing-extensions==3.10.0.0
urllib3==1.26.4
varint==1.0.2
web3==5.19.0
websockets==8.1
whitenoise==5.2.0
win32-setctime==1.0.3
zipp==3.4.1
asgiref==3.3.1
attrs==21.2.0
base58==2.1.0
bitarray==1.2.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cryptography==3.4.6
cytoolz==0.11.0
defusedxml==0.7.1
Django==3.0.5
django-allauth==0.44.0
django-cors-headers==3.7.0
django-filter==2.4.0
django-otp==1.0.5
django-rest-auth==0.9.5
djangorestframework==3.12.2
djangorestframework-jwt==1.11.0
djongo==1.3.4
dnspython==2.1.0
eth-abi==2.1.1
eth-account==0.5.4
eth-hash==0.3.1
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-typing==2.2.2
eth-utils==1.10.0
hexbytes==0.2.1
idna==2.10
importlib-metadata==4.0.1
install==1.3.4
ipfshttpclient==0.7.0a1
joblib==1.0.1
jsonschema==3.2.0
loguru==0.5.3
lru-dict==1.1.7
lxml==4.6.3
multiaddr==0.0.9
netaddr==0.8.0
nltk==3.6.2
numpy==1.20.3
oauthlib==3.1.0
parsimonious==0.8.1
protobuf==3.17.0
pycparser==2.20
pycryptodome==3.10.1
PyExecJS==1.5.1
PyJWT==1.7.1
pymongo==3.11.3
pyrsistent==0.17.3
python3-openid==3.2.0
pytz==2021.1
pywin32==300
qrcode==6.1
regex==2021.4.4
requests==2.25.1
requests-oauthlib==1.3.0
rlp==2.0.1
six==1.15.0
sqlparse==0.2.4
toolz==0.11.1
tqdm==4.60.0
translators==4.7.16
typing-extensions==3.10.0.0
urllib3==1.26.4
varint==1.0.2
web3==5.19.0
websockets==8.1
whitenoise==5.2.0
win32-setctime==1.0.3
zipp==3.4.1
asgiref==3.3.1
attrs==21.2.0
base58==2.1.0
bitarray==1.2.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cryptography==3.4.6
cytoolz==0.11.0
defusedxml==0.7.1
Django==3.0.5
django-allauth==0.44.0
django-cors-headers==3.7.0
django-filter==2.4.0
django-otp==1.0.5
django-rest-auth==0.9.5
djangorestframework==3.12.2
djangorestframework-jwt==1.11.0
djongo==1.3.4
dnspython==2.1.0
eth-abi==2.1.1
eth-account==0.5.4
eth-hash==0.3.1
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-typing==2.2.2
eth-utils==1.10.0
hexbytes==0.2.1
idna==2.10
importlib-metadata==4.0.1
install==1.3.4
ipfshttpclient==0.7.0a1
joblib==1.0.1
jsonschema==3.2.0
loguru==0.5.3
lru-dict==1.1.7
lxml==4.6.3
multiaddr==0.0.9
netaddr==0.8.0
nltk==3.6.2
numpy==1.20.3
oauthlib==3.1.0
parsimonious==0.8.1
protobuf==3.17.0
pycparser==2.20
pycryptodome==3.10.1
PyExecJS==1.5.1
PyJWT==1.7.1
pymongo==3.11.3
pyrsistent==0.17.3
python3-openid==3.2.0
pytz==2021.1
pywin32==300
qrcode==6.1
regex==2021.4.4
requests==2.25.1
requests-oauthlib==1.3.0
rlp==2.0.1
six==1.15.0
sqlparse==0.2.4
toolz==0.11.1
tqdm==4.60.0
translators==4.7.16
typing-extensions==3.10.0.0
urllib3==1.26.4
varint==1.0.2
web3==5.19.0
websockets==8.1
whitenoise==5.2.0
win32-setctime==1.0.3
zipp==3.4.1
